<%= include_gon %>

<div class="container">
  <h1>DanBoard</h1>

  <div class="row">
    <div class="col-lg-12">
      <div id="uptime"></div>    
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div id="chart"></div>
    </div>
  </div>  

</div>
