<%= include_gon %>

<div class="container">
  <center>
  <h1>DanBoard</h1>

  <div class="row">
    <div class="col-lg-12">
      <div id="uptime"></div>    
    </div>
  </div>

</div>

<div class="container-fluid">
  <center>
    <div class="row">
      <h3>Yearly GDP Value ($ Billion)</h3>
      <div id="gdp-chart">
      
      </div>
    </div>  

    <div class="row">
      <h3>Federal and State Outlays ($ Billion)</h3>
      <div id="outlays-chart">
      
      </div>
    </div>  

</div>
